
.navbar-main{
    height:75px;
}
.main-contain{
    margin-top:30px;
}
.navbar-brand{
    background: #44aaaa;
    color: white;
    left:200px;
    height:75px;
    width:300px;
    text-align: center;
    font-size: 28px;
}
.a-custom{
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight:bolder;
}
.img-custom1{
    margin-right:10px;
}
.name-wrapper{
    position:absolute;
    left:100px;
}
.text-left{
    padding-right:4px;
    height:450px;
}
.footer{
    border-top: 5px solid #44aaaa;
    background-color:#666666;
    position:relative;
    bottom:0px;
    width:100%;
    top:400px;
}
.footer-p{
    color:white;
    margin:0 auto;
    padding-bottom:15px;
    padding-top: 15px;
}
.btn{
    background-color:#44aaaa;
    border: none;
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.fig-cap{
    background-color: #44aaaa;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    bottom: 10px;
    height: 50px;
    padding-top: 10px;
    font-size: 18px
}
.col{
    padding-left:125px;
}
